<div class="page-wrapper">

<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <nav class="navbar navbar-default navbar-fixed-top">
   <a class="navbar-brand" href="#">ChatComm</a>
    <ul class="nav navbar-nav navbar-right">
      <li><a ui-sref="home"><span class="glyphicon glyphicon-home"></span> Home </a></li>
      <li><a ui-sref="register"><span class="glyphicon glyphicon-registration-mark"></span> Register </a></li>
    </ul>
  </nav>
  <br> <br> <br><br>
<div class="login-block log">
<h1>Login</h1>
  <form ng-submit="authCtrl.login()">
    
      <input type="email" class="form-control" placeholder="Email" ng-model="authCtrl.user.email" id="username" />
   
    
      <input type="password" class="form-control" placeholder="Password" ng-model="authCtrl.user.password" id="password" />
  
    <button> Submit </button>
    <br><br>
    <p>Or connect with: </p>
      <p>
        <a href="" class="btn-social btn-facebook"><i class="fa fa-facebook"></i></a>
        <a href="" class="btn-social btn-twitter"><i class="fa fa-twitter"></i></a>
      </p>
  </form>
</div>
</div>