<div class="page-wrapper">

<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

  <div class="page-header">
    <h1><a ui-sref="home"><img class="logo-img" src="images/logo.png" /></a> Welcome to ChitChat</h1>
  </div>
  <br> <br> <br><br>
<div class="login-block">
<h1>Login</h1>
  <form ng-submit="authCtrl.login()">
    
      <input type="email" class="form-control" placeholder="Email" ng-model="authCtrl.user.email" id="username" />
   
    
      <input type="password" class="form-control" placeholder="Password" ng-model="authCtrl.user.password" id="password" />
  
    <button> Submit </button>
  </form>
</div>
</div>